html {
	margin: none;
}
#main {
	align-items: center;
	justify-items: start;
}

#tribute-info {
	margin: 0rem 8rem 0rem 8rem;
}

nav {
	display: flex;
	flex-direction: row;
}

.nav-title {
	display: flex;
	flex-direction: row;
}
